.map-taiwain{
    height: 100%;
}

.wrap-taiwain-map path {
    stroke: white;
    fill: transparent;
    transition: 0.5s;
    cursor: pointer;
}

.wrap-taiwain-map g:hover path{
    fill: #B99362;
    transform: translate(-5px, -5px);
}

@media only screen and (max-width: 1024px) {
    .map-taiwain{
        width: 100%;
    }
}