@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
@import url(https://fonts.googleapis.com/earlyaccess/cwtexfangsong.css);
@import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);
@import url(https://fonts.googleapis.com/earlyaccess/cwtexkai.css);

:root{
    --mainColor: #dddde0;
    --mainColorLight: #5767aa;
    --secondaryColor: #DB2B39;
    --textColor: #000;
}

header{
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    padding: 0 2rem;
    background-color: transparent;
    color: var(--textColor);
    position: absolute;
    z-index: 3;
}

header .logo{
    padding-bottom: 0.5rem;
    font-size: 1.7rem;
    font-weight: 600;
    font-family: cwTeXKai;
}

nav a{
    display: inline-block;
    margin: 0 2rem 1.2rem 2rem;
    color: var(--textColor);
    text-decoration: none;
    font-family: cwTeXYen, sans-serif;
    font-size: 1.3rem;
}

nav a:hover{
    color: var(--secondaryColor);
}

header .nav-btn{
    padding: 5px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    color: var(--textColor);
    visibility: hidden;
    opacity: 0;
    font-size: 1.6rem;
}

@media only screen and (max-width: 1024px) {
    header .nav-btn{
        visibility: visible;
        opacity: 1;
    }

    header nav{
        position: fixed;
        top: 0;
        left: 0;
        height: 35vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
        background-color: var(--mainColor);
        transition: 0.8s;
        transform: translateY(-100vh);
    }

    header .responsive_nav{
        transform: none;
        z-index: 5;
    }

    header .logo{
        font-size: 1.5rem;
        font-weight: 900;
        font-family: cwTeXKai, cwTeXFangSong, serif;
    }

    nav .nav-close-btn{
        position: absolute;
        top: 2rem;
        right: 2rem;
    }

    nav a{
        margin: 0 2rem
    }
}